
.forms__formColumn {
	display: flex;
	flex-direction: column;

	& h2 {
		margin-bottom: 15px;
		text-align: center;
	}
}

.forms__formColumn input, textarea{
	margin-top: 10px;
	margin-bottom: 10px;
	color: $font-color;
	border-bottom: 1px solid $primary;
	font-size: large;

}
.forms__formColumn2 {
	display: flex;
	flex-direction: column;
}

.MuiFormControl-root {
	margin-bottom: 10px !important;
	color: $font-color;
}

.MuiFormLabel-root {
	color: white !important;
}

.MuiInputBase-input {
	color: $font-color !important
}
.forms__btn {
	background-color: $secondary;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	color: $font-color;

	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: darken($color: $secondary, $amount: 3);
	}

	&:focus {
		outline: none;
	}
}

.forms__row {
    display: flex;
	align-items: center;
	position: relative;
	& p {
		color: $font-color;
	}
}

.forms__select {
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
	color: $font-color;
	// font-size: large;
}

.forms__row input {
	margin-left: 20px;
}