
.forms__formColumn {
	display: flex;
	flex-direction: column;

	& h2 {
		margin-bottom: 15px;
		text-align: center;
	}
}

.forms__formColumn input, textarea{
	margin-top: 10px;
	margin-bottom: 10px;
	color: $font-color;
	border-bottom: 1px solid $primary;
	font-size: large;

	transition: border-bottom 0.4s ease-in-out;
	&:focus {
		outline: none;
		border-bottom: 1px solid $font-color;
	}
}

.forms__formColumn textarea {
	background-color: $dark-grey;
	border: none;
	resize: none;
	color: $font-color;
	transition: border-bottom 0.4s ease-in-out;
	&:focus {
		outline: none;
		border-bottom: 1px solid $font-color;
	}
}


.forms__btn {
	background-color: $secondary;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	color: $font-color;

	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: darken($color: $secondary, $amount: 3);
	}

	&:focus {
		outline: none;
	}
}

.forms__row {
    display: flex;
	align-items: center;
	position: relative;
	& p {
		color: $font-color;
	}
}

.forms__row input {
	margin-left: 20px;
}