.list__listContainer {
    margin-top: 30px;
    text-align: center;
    overflow-y: scroll; 
    flex: 1 1 auto;
}

.list__Item {
    display: flex;
    flex-direction: row;
    background-color: $secondary;
    padding: 10px;
    border-radius: 5px;

    justify-content: space-between;
    cursor: pointer;
    margin: 10px;

    overflow: hidden;

    &:hover {
		background-color: darken($color: $secondary, $amount: 3);
	}

    & hr {
        margin-left: 6px;
        margin-right: 6px;
    }
}

