* {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

html,
body {
	height: 100vh;
	background-color: $dark-grey;
	width: 100%;
}

.row {
	display: flex;
	direction: row;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
}

.containerCenter {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
p {
	color: $font-color;
}

input {
	background: transparent;
	border: none;
}

.pointer {
	cursor: pointer;
}

.mt-5 {
	margin-top: 15px;
}

.btn {
	cursor: pointer;
	border: none;
	background: none;
}

.centerDiv {
	justify-content: center;
	align-items: center;
}
